.DS_Store
node_modules
WiredTigerLog.00000000013
WiredTigerPreplog.0000000001
WiredTigerlog.0000000002
WiredTigerLog.0000000008
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
